.article-container {
    margin: 0;
    .article {
        margin: @padding-large-vertical auto;
        width: 10 / 12 * 100%;
        max-width: @screen-sm;
        border-top: 1px solid @gray-lighter;
        .title {
            color: @gray-darker;
            text-align: center;
        }
        .tags-list {
            list-style: none;
            padding-left: 0;
            .article-tag {
                display: inline;
                .tag-link {
                    color: @gray-dark;
                    padding-right: @padding-small-horizontal;
                }
            }
        }
        .article-date {
            position: relative;
            top: -@font-size-base / 2;
            line-height: 1;
            text-align: center;
            color: @gray-dark;
            .article-date-value {
                background: #fff;
                border-right: @padding-base-horizontal solid #fff;
                border-left: @padding-base-horizontal solid #fff;
            }
        }
        .article-text {
            text-align: justify;
            img {
                max-height: 400px;
                display: block;
                margin: @padding-large-vertical auto;
            }
        }
        .go-back {
        }
    }
}
