.article-container
    h1.title(data-bind='text: article().title')
    ul.tags(data-bind='foreach: article().tags')
        li.p(data-bind='text: $data')
    p(data-bind='text: article().text')
    p(data-bind='text: article().date')