.article-container {
    text-align: center;
    background-color: #fff;
    margin: 0 auto;
    padding: @padding-large-vertical 0;
    width: 10 / 12 * 100%;
    max-width: @screen-sm;

    .title{
        color: @gray-darker;
        
    }

    .tags-list{
        list-style: none;
        padding-left: @padding-base-horizontal;
        float: left;
        .article-tag{
            display: inline;
            .tag-link{
                color: @gray-dark;
            }
        }
    }

    .article-date{
        text-align: right;
        color: @gray-dark;
    }

    .article-text{
    }

    .go-back{

    }
}