div
    h2(data-bind='text: article().title')
    p(data-bind='text: article().text')
    div(data-bind='foreach: article().tags')
        p(data-bind='text: $data')
    p(data-bind='text: article().date')
