.main-container {

    .top-block {
        min-height: 300px;
        text-align: center;
        border-bottom: 1px solid @brand-primary;
        padding: 0 10px;
        
        h1 {
            font-size: 5em;
            @media (max-width: @screen-tablet) {
                font-size: 2.5em;
            }
        }
        h2 {
            @media (max-width: @screen-tablet) {
                font-size: 1.6em;
            }
        }
        .top-explanation {
            font-size: 1.2em;
            @media (max-width: @screen-tablet) {
                text-align: left;
            }
            width: 60%;
            min-width: 300px;
            margin: 30px auto;
            text-align: center;
        }
    }
    .detailes-block {
        border-bottom: 1px solid @brand-primary;
        position: relative;
        .clearfix();

        .explanation {
            width: 33%;
            @media (max-width: @screen-tablet) {
                width: 100%;
                text-align: left;
                border-left: none;
                border-bottom: 1px solid @brand-primary;
                float: none;
            }
            float: left;
            text-align: justify;
            padding: 10px 40px 30px;
            
            &:first-child {
                border-left: none;
            }

            h3 {
                text-align: center;
            }
            .explanation-text {

            }
        }
    }
    .principles-carousel {
        
    }
    .footer {
        
        padding: 20px 0;
        .menu {
            width: 50%;
            float: left;

            ul {
                list-style: none;

                li {

                    a {

                    }
                }
            }
        }
        .place {
            width: 50%;
            float: left;

            .map {
                img {
                    width: 100px;
                    height: 80px;

                }
            }
            .address {
                
            }
        }
    }
}