.main-container {

    .top-block {
        height: 300px;
        text-align: center;
        border-bottom: 1px solid @brand-primary;
        
        h1 {
            font-size: 4em;
        }
        h2 {

        }
        .top-explanation {
            font-size: 1.2em;
            width: 50%;
            min-width: 440px;
            margin: 30px auto;
            text-align: justify;
        }
    }
    .detailes-block {
        height: 250px;
        border-bottom: 1px solid @brand-primary;

        .explanation {
            width: 33%;
            float: left;
            text-align: justify;
            padding: 10px 40px;
            height: 100%;
            border-left: 1px solid @brand-primary;
            &:first-child {
                border-left: none;
            }

            h3 {
                text-align: center;
            }
            .explanation-text {

            }
        }
    }
    .principles-carousel {
        clear: both;
    }
    .footer {
        clear: both;
        padding: 20px 0;
        .menu {
            width: 50%;
            float: left;

            ul {
                list-style: none;

                li {

                    a {

                    }
                }
            }
        }
        .place {
            width: 50%;
            float: left;

            .map {
                img {
                    width: 200px;
                    height: 80px;

                }
            }
            .address {
                
            }
        }
    }
}