.books-container {
    text-align: center;
    background-color: @gray-lighter;
    margin: 0;
    padding: @padding-large-vertical 0;

    a {
        .lh-transition(opacity @transition-duration-quick);
        .lh-opacity(.8);
    }
    a:hover {
        text-decoration: none;
        .lh-opacity(1);
    }
    .search-bar {
        margin: 0 auto @padding-large-vertical;
        width: 10 / 12 * 100%;
        max-width: @screen-sm;
        position: relative;
        
        .search-input {
            .form-control;
            .input-lg;
            padding-left: @padding-large-horizontal + @padding-small-horizontal + @font-size-large;
        }
        .search-icon {
            .glyphicon;
            .glyphicon-search;
            position: absolute;
            height: 100%;
            padding: @input-height-large / 2 - @font-size-large / 2 - 1px;
            left: 0;
            display: block;
            font-size: @font-size-large;
        }
        .clear-icon {
            .glyphicon;
            .glyphicon-remove;
            position: absolute;
            height: 100%;
            padding: @input-height-large / 2 - @font-size-large / 2 - 1px;
            right: 0;
            display: block;
            font-size: @font-size-large;
        }
    }
    .search-tabs {
        margin: 0 auto;
        width: 10 / 12 * 100%;
        max-width: @screen-sm;
        text-align: center;
        height: @input-height-base;
        .clearfix();

        .book-type-switch {
            padding: 0 @padding-base-horizontal;
            list-style: none;
            float: left;
            height: @input-height-base;
            margin: 0;

            li {
                width: @input-height-base;
                float: left;
                height: @input-height-base;
                .lh-border-radius(@border-radius-large @border-radius-large 0 0);

                a {
                    width: 100%;
                    height: 100%;
                    padding-top: @input-height-base / 2 - @font-size-base / 2;
                    color: @gray;
                }
                &.active {
                    background: #fff;
                    .lh-box-shadow(1px 0 0 0px rgba(50, 50, 50, 0.1));

                    a {
                        color: @brand-success;
                    }
                }
            }
            .paper a {
                .glyphicon;
                .glyphicon-book;
            }
            .ebook a {
                .glyphicon;
                .glyphicon-phone;
            }
        }
        .filters {
            list-style: none;
            float: right;
            padding: 0;
            margin: 0;

            li {
                width: @input-height-base;
                float: right;
                height: @input-height-base;
                .lh-border-radius(@border-radius-large @border-radius-large 0 0);

                a {
                    width: 100%;
                    height: 100%;
                    padding-top: @input-height-base / 2 - @font-size-base / 2;
                    color: @gray;
                }
                &.active a {
                    color: @brand-success;
                }
            }
            .availableOnly a {
                .glyphicon;
                .glyphicon-record;
            }
        }
    }
    .books-list {
        @row-height: 70px;
        @max-additional-height: 200px;
        @row-height-expanded: @row-height + @max-additional-height;
        list-style: none;
        padding: 0;
        width: 10 / 12 * 100%;
        max-width: @screen-sm;
        margin: 0 auto;
        background-color: #fff;
        .lh-border-radius(@border-radius-large);
        min-height: @row-height * 5;
        .lh-box-shadow(1px 1px 1px 0px rgba(50, 50, 50, 0.1));

        .empty-splash {
            font-size: @font-size-large;
            padding-top: @padding-large-vertical;
            color: lighten(@text-color, 50%);
        }
        .book-row {
            max-height: @row-height;
            overflow: hidden;
            .lh-transition(max-height @transition-duration-long);
            border-bottom: 1px solid @gray-lighter;
            margin: 0 @padding-base-horizontal;

            @media (max-width: @screen-xs) {
                height: @row-height + @font-size-small;
            }
            
            &.expanded {
                max-height: @row-height-expanded;

                .main-info-row .show-more-btn {
                    .glyphicon-chevron-up;
                }
            }
            .main-info-row {
                height: @row-height;
                padding-top: @row-height / 2 - @font-size-large / 2;

                @media (max-width: @screen-xs) {
                    height: @row-height + @font-size-small;
                    padding-top: @padding-large-vertical;
                }

                .books-title {
                    display: block;
                    text-align: left;
                    padding-left: @padding-base-horizontal;
                    font-size: @font-size-large;
                    .text-overflow();
                    width: 6 / 12 * 100%;
                    float: left;
                    margin-top: @font-size-base - @font-size-large;
                    
                    @media (max-width: @screen-xs) {
                        width: 100%;
                        padding-bottom: @padding-base-vertical;
                    }
                }
                .books-author {
                    display: block;
                    width: 3 / 12 * 100%;
                    float: left;
                    .text-overflow();
                    
                    @media (max-width: @screen-xs) {
                        width: 7 / 12 * 100%;
                    }
                }
                .books-year {
                    display: block;
                    width: 2 / 12 * 100%;
                    float: right;
                    
                    @media (max-width: @screen-xs) {
                        width: 3 / 12 * 100%;
                    }
                }
                .show-more-btn {
                    .glyphicon;
                    .glyphicon-chevron-down;
                    display: block;
                    width: 1 / 12 * 100%;
                    float: right;
                    line-height: inherit;
                    
                    @media (max-width: @screen-xs) {
                        width: 2 / 12 * 100%;
                    }
                }
            }
            .additional-info-row {
                border-top: 1px solid lighten(@gray-lighter, 3%);
                padding: @padding-base-vertical @padding-base-horizontal;
                text-align: left;
                .clearfix();

                .tags-container {
                    width: 7 / 12 * 100%;
                    float: left;
                    padding-left: @padding-large-horizontal;

                    .tags-label{
                        font-size: @font-size-small;
                    }
                    .tags-list {
                        list-style: none;
                        padding: 0;
                        
                        .book-tag {

                            .tag-link {
                                float: left;
                                padding-right: @padding-base-horizontal;
                            }
                        }
                    }
                }
                
                .book-publisher {
                    width: 5 / 12 * 100%;
                    float: left;
                    .publisher-label {
                        font-size: @font-size-small;
                    }
                    .publisher {
                        display: block;
                    }
                }
            }
        }
    }
    .books-paging {
        list-style: none;
        padding: 0;
        text-align: center;
        width: 10 / 12 * 100%;
        max-width: @screen-sm;
        margin: 0 auto;
        font-size: @font-size-large;
        .clearfix();
        
        li {
            padding: @padding-base-vertical @padding-base-horizontal;
            float: left;
            display: block;
            .lh-opacity(.6);
            cursor: pointer;
            .lh-transition(opacity .3s);
            @media(max-width: @screen-xs){
                width: 1 / 5 * 100% !important;
            }
            
            &:hover {
                .lh-opacity(1);
            }
        }
        .first-page {
            width: 1 / 12 * 100%;
            text-align: left;
        }
        .prev-page {
            .glyphicon;
            .glyphicon-chevron-left;
            width: 4 / 12 * 100%;
            text-align: right;
            line-height: inherit;
        }
        .current-page {
            width: 2 / 12 * 100%;
            .lh-opacity(1);
            cursor: inherit;
        }
        .next-page {
            .glyphicon;
            .glyphicon-chevron-right;
            width: 4 / 12 * 100%;
            text-align: left;
            line-height: inherit;
        }
        .last-page {
            width: 1 / 12 * 100%;
            text-align: right;
        }
    }
}