.blog-container {
	text-align: left;
	background-color: @gray-lighter;
	margin: 0;
	padding: @padding-large-vertical 0;

	a {
        .lh-transition(opacity @transition-duration-quick);
        .lh-opacity(.8);
    }
    a:hover {
        .lh-opacity(1);
    }

  	.articles-list {
        list-style: none;
        padding: 0;
        width: 10 / 12 * 100%;
        max-width: @screen-sm;
        margin: 0 auto;
        background-color: #fff;
        .lh-border-radius(@border-radius-large);
        .lh-box-shadow(1px 1px 1px 0px rgba(50, 50, 50, 0.1));

        .article-row:last-child{
            border-bottom: none;
            padding-bottom: @padding-large-vertical;
        }

    	.article-row {
            overflow: hidden;
            .lh-transition(max-height @transition-duration-long);
            border-bottom: @border-radius-base solid @gray;
            margin: 0 @padding-base-horizontal;
            padding-top: @padding-large-vertical;

      		.main-info-row {

      			.article-title{
      				display: block;
                    text-align: left;
                    padding-left: @padding-base-horizontal;
                    width: 6 / 12 * 100%;
                    margin-top: @font-size-base - @font-size-large;
      			}

      			.article-description{
      				padding-left: @padding-base-horizontal;
      				font-size: @font-size-base;
      			}

                .read-more{
                    padding-left: @padding-base-horizontal;
                    font-size: @font-size-base;
                }
      		}

      		.additional-info-row{
                .tags-list{
                    list-style: none;
                    padding-left: @padding-base-horizontal;
                    float: left;
                    .article-tag{
                        display: inline;
                        .tag-link{
                            color: @gray-dark;
                        }
                    }
                }
      			.article-date{
                    text-align: right;
                    color: @gray-dark;
      			}
      		}
    	}
  	}

  	.articles-paging {
        list-style: none;
        padding: 0;
        text-align: center;
        width: 10 / 12 * 100%;
        max-width: @screen-sm;
        margin: 0 auto;
        font-size: @font-size-large;
        .clearfix();
        
        li {
            padding: @padding-base-vertical @padding-base-horizontal;
            float: left;
            display: block;
            .lh-opacity(.6);
            cursor: pointer;
            .lh-transition(opacity .3s);
            @media(max-width: @screen-xs){
                width: 1 / 5 * 100% !important;
            }
            
            &:hover {
                .lh-opacity(1);
            }
        }
        .first-page {
            width: 1 / 12 * 100%;
            text-align: left;
        }
        .prev-page {
            .glyphicon;
            .glyphicon-chevron-left;
            width: 4 / 12 * 100%;
            text-align: right;
            line-height: inherit;
        }
        .current-page {
            width: 2 / 12 * 100%;
            .lh-opacity(1);
            cursor: inherit;
        }
        .next-page {
            .glyphicon;
            .glyphicon-chevron-right;
            width: 4 / 12 * 100%;
            text-align: left;
            line-height: inherit;
        }
        .last-page {
            width: 1 / 12 * 100%;
            text-align: right;
        }
    }
}