.blog-container
    ul.articles-list(data-bind='foreach: articles')
        li.article-row
            .main-info-row
                a(data-bind='attr: {href: "#/blog/" + title}')
                    span.article-title(data-bind='text: title')
                div.article-description(data-bind='text: description')
                div.article-date(data-bind='text: date')
                