.blog-container {
    margin: 0;
    padding: @padding-large-vertical 0;
    a {
        .lh-transition(opacity .2s);
        .lh-opacity(.8);
    }
    a:hover {
        .lh-opacity(1);
    }
    .articles-list {
        list-style: none;
        padding: 0;
        width: 10 / 12 * 100%;
        max-width: @screen-sm;
        margin: 0 auto;
        .article-row {
            border-top: 1px solid @gray-lighter;
            margin: @padding-large-vertical * 3 @padding-base-horizontal;
            .article-date {
                position: relative;
                top: -@font-size-base / 2;
                line-height: 1;
                text-align: center;
                color: @gray-light;
                .article-date-value {
                    background: #fff;
                    border-right: @padding-base-horizontal solid #fff;
                    border-left: @padding-base-horizontal solid #fff;
                }
            }
            .title-link {
                color: @brand-primary;
                .article-title {
                    color: @brand-primary;
                    text-align: center;
                    margin: 0 auto;
                    padding-left: @padding-base-horizontal;
                    width: 6 / 12 * 100%;
                }
            }
            .article-description {
                text-align: justify;
                padding-left: @padding-base-horizontal;
                font-size: @font-size-base;
            }
            .read-more {
                padding-left: @padding-base-horizontal;
            }
            .tags-list {
                list-style: none;
                padding-left: @padding-base-horizontal;
                .article-tag {
                    display: inline;
                    .tag-link {
                        color: @gray-dark;
                        padding-right: 5px;
                    }
                }
            }
        }
    }
    .articles-paging {
        list-style: none;
        padding: 0;
        text-align: center;
        width: 10 / 12 * 100%;
        max-width: @screen-sm;
        margin: 0 auto;
        font-size: @font-size-large;
        .clearfix();
        li {
            padding: @padding-base-vertical @padding-base-horizontal;
            float: left;
            display: block;
            .lh-opacity(.6);
            &:hover {
                .lh-opacity(1);
            }
        }
        .first-page {
            width: 1 / 12 * 100%;
            text-align: left;
        }
        .prev-page {
            .glyphicon;
            .glyphicon-chevron-left;
            width: 4 / 12 * 100%;
            text-align: right;
            line-height: inherit;
        }
        .current-page {
            width: 2 / 12 * 100%;
            .lh-opacity(1);
            cursor: inherit;
        }
        .next-page {
            .glyphicon;
            .glyphicon-chevron-right;
            width: 4 / 12 * 100%;
            text-align: left;
            line-height: inherit;
        }
        .last-page {
            width: 1 / 12 * 100%;
            text-align: right;
        }
    }
}
