// libs
@import url(libs/lesshat/build/lesshat-prefixed.less);
@import url(libs/bootstrap/less/bootstrap.less);
@import url(libs/bootswatch/flatly/bootswatch.less);
@import url(libs/bootswatch/flatly/variables.less);

@icon-font-path: 'libs/bootstrap/fonts/';

// my variables
@super-large-font-size: 5em;
@header-font-size: 4em;
@header-height: 400px;
@big-logo-width: 600px;
@transition-duration: .3s;
@transition-duration-quick: .1s;

// modules
@import url(app/shell.less);
@import url(app/blog/blog.less);
@import url(app/books/books.less);
@import url(app/events/events.less);
@import url(app/home/home.less);