.home-container {

    .top-block {
        margin: 0 auto;
        max-width: @screen-lg;
        text-align: center;
        padding: @padding-large-vertical @padding-large-horizontal;
        
        h1 {
            font-size: @super-large-font-size;
            @media (max-width: @screen-tablet) {
                font-size: @font-size-h1;
            }
        }
        h2 {
            @media (max-width: @screen-tablet) {
                font-size: @font-size-h3;
            }
        }
        .top-explanation {
            font-size: @font-size-large;
            @media (max-width: @screen-tablet) {
                width: 100%;
            }
            width: 100% * (8 / 12);
            margin: @padding-large-vertical auto;
            text-align: center;
        }
    }
    .detailes-block {
        
        &:before, &:after {
            .lh-background-image(linear-gradient(to right, rgba(123,138,139,0) 0%,rgba(123,138,139,1) 15%,rgba(123,138,139,1) 85%,rgba(123,138,139,0) 100%));
            
            content: '';
            position: absolute;
            height: 1px;
            right: 0;
            left: 0;
        }
        
        padding: 1px 0;
        //border-top: 1px solid @brand-primary;
        //border-bottom: 1px solid @brand-primary;
        position: relative;
        
        .explanations {
            .clearfix();
            max-width: @screen-lg;
            margin: 0 auto;

            .explanation {
                width: 100% * (4 / 12);
                @media (max-width: @screen-tablet) {
                    width: 100%;
                    text-align: left;
                    border-left: none;
                    border-bottom: 1px solid @brand-primary;
                    float: none;
                }
                float: left;
                text-align: justify;
                padding: @padding-large-vertical @padding-large-horizontal;

                &:first-child {
                    border-left: none;
                }

                h3 {
                    text-align: center;
                }
                .explanation-text {

                }
            }
        }
    }
    .principles-carousel {
        background: darken(@brand-success, 25%);
        color: @gray-lighter;
        
        .carousel-wrapper {
            max-width: @screen-lg;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            
            ul {
                margin: 50px 0;
                width: 500%;
                list-style: none;
                padding: 0;
                position: relative;
                transition: left .2s;
                .clearfix();

                li {
                    width: 20%;
                    float: left;
                    padding: @padding-large-vertical 100% * (2 / 12) / 5;
                    .clearfix();

                    h3 {

                    }
                    p {
                        max-width: 400px;
                        width: 100%;
                        float: left;
                    }
                    .img {
                        @size: 200px;
                        width: @size;
                        height: @size;
                        border-radius: @size / 2;
                        background-size: cover;
                        background-position: center;
                        float: right;
                        margin-top: -@size / 4;
                        
                        &.volunteering-img {
                            background-image: url(img/volunteering.jpg);
                        }
                        
                        &.independence-img {
                            background-image: url(img/independence.jpg);
                        }
                    }
                }
            }
            .arrow {
                .glyphicon;
                @height: 20px;
                height: @height;
                display: block;
                position: absolute;
                top: 50%;
                margin: -@height / 2 20px;
                font-size: @height;
                color: darken(@brand-success, 30%);
                transition: color .3s;
                text-shadow: 1px 1px 1px rgba(30, 30, 30, .6);
                
                &:hover {
                    text-decoration: none;
                    color: darken(@brand-success, 20%);
                }
                
                &.left {
                    .glyphicon-chevron-left;
                    left: 0;
                }
                &.right {
                    .glyphicon-chevron-right;
                    right: 0;
                }
            }
            .carousel-pagination {
                list-style: none;
                position: absolute;
                display: block;
                top: 10px;
                margin: 0 auto;
                width: 100%;
                text-align: center;
                
                li {
                    transition: background .3s;
                    box-shadow: inset 1px 1px 1px rgba(30, 30, 30, .6);
                    @size: 12px;
                    width: @size;
                    height: @size;
                    border-radius: @size / 2;
                    display: inline-block;
                    cursor: pointer;
                    background: darken(@brand-success, 30%);
                    margin: 0 7%;
                    
                    &.active {
                        background: darken(@brand-success, 20%);
                    }
                }
            }
        }
    }
    .footer {
        .clearfix();
        max-width: @screen-lg;
        margin: 0 auto;
        padding: @padding-large-vertical @padding-large-horizontal;

        .menu {
            width: 100% * (6 / 12);
            float: left;

            ul {
                width: 100% * (6 / 12);
                padding: 0;

                list-style: none;

                li {

                    a {

                    }
                }
            }
        }
        .place {
            width: 100% * (6 / 12);
            float: left;

            .map {
                img {
                    width: 100px;
                    height: 80px;

                }
            }
            .address {
                
            }
        }
    }
}